body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#buttonContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buttonContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#buttonContainer button:hover {
    background-color: #0056b3;
}

#issInfo {
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 10px;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

#issInfo p:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

#bottomText {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
    z-index: 9999;
    font-style: italic;
}

#updateIntervalContainer {
    position: absolute;
    bottom: 100px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#updateIntervalContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin-top: 5px;
}

#updateIntervalContainer button:hover {
    background-color: #0056b3;
}

.interval-button {
    background-color: lightgray;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.interval-button.active {
    background-color: darkblue;
    color: white;
}
